.navbar-vertical.navbar-expand-lg {
  position: relative;
  min-height: 100%;
}

.navbar .dropdown-menu {
  z-index: 1050;
}

.swt-full-height {
  min-height:100%;
}

.swt-toast-placed {
  z-index: 1250;
  bottom: 10px;
  right: 10px;
}
