/*!
 * Some basic styles for the default SorWeTo theme - part of SorWeTo server
 */

:root {
  --blue: #4e73df;
  --red: #e74a3b;
  --green: #1cc88a;
  --gray: #858796;
}

body {
  color: #858796;
  background-color: #fff;
}

#main-header {
	background-color: #4e73df;
}
#main-header h1 a {
  color: #fff;
}

#sidebar {
  background-color: #4e73df;
  color: #fff;
  border-top: 1px solid rgba(255,255,255,0.05);
  padding-top: 1rem;
}

#sidebar a {
  color: #fff;
}

#main-container {
  padding: 1rem;
}
